*.pyc
.vscode/*
pandoc*

slurm/*

stimuli/stories/*
stimuli/data/natural_stories_RT.tsv

experiment/data/cloze/*
experiment/data/spr/*
experiment/src/test.py

paper/data/cloze/*
paper/data/spr/*
paper/data/epochs*
paper/data/erps/*
paper/data/*.csv
paper/figs/preprocessing/*
paper/figs/*
paper/src/cloze*
paper/src/brms_models/*
paper/src/eeg_analysis.rmd
paper/src/artifact_detection.r
paper/src/inspect_*
paper/src/preprocessing_*
paper/src/test*