*.pyc
.vscode/*
pandoc*

stories/*
texts/*.txt

experiment/data/cloze/*
experiment/data/spr/*
experiment/src/test.py

paper/data/cloze/*
paper/data/spr/*
paper/data/epochs/*
paper/data/*.csv
paper/figs/preprocessing/*
paper/figs/*
paper/src/eeg_analysis.rmd
paper/src/cloze*
paper/src/brms_models/*